datadir="/var/lib/proxysql"
admin_variables=
{
          admin_credentials="admin:admin"
          mysql_ifaces="0.0.0.0:6032"
          refresh_interval=200
}
mysql_variables=
{
        threads=4
        max_connections=2048
        default_query_delay=0
        default_query_timeout=36000000
        have_compress=true
        poll_timeout=200
        interfaces="0.0.0.0:6033;/tmp/proxysql.sock"
        default_schema="my_database"
        stacksize=1048576
        server_version="5.5.30"
        monitor_username="root"
        monitor_password="root"
        monitor_connect_interval=600
        monitor_ping_interval=1000
        monitor_read_only_interval=1500
        monitor_read_only_timeout=500
        monitor_writer_is_also_reader=false
        commands_stats=true
        sessions_sort=false
        connect_retries_on_failure=10

}
# defines all the MySQL servers
mysql_servers =
(
        { address="mysql-master",  hostgroup=0, port=3306, max_connections=100 },
        { address="mysql-slave-1", hostgroup=1, port=3306, max_connections=100 },
        { address="mysql-slave-2", hostgroup=1, port=3306, max_connections=100 }
)
# defines all the MySQL users
mysql_users:
(
          { username = "app_user" , password = "root" , active = 1, backend = 1, frontend = 1 }
)
#defines MySQL Query Rules
mysql_query_rules:
(
          {
              rule_id=0
              active=1
              match_pattern="^SELECT .* FOR UPDATE$"
              destination_hostgroup=0
              apply=1
          },
          {
              rule_id=1
              active=1
              match_pattern="^SELECT"
              destination_hostgroup=1
              apply=1
          }
)
mysql_replication_hostgroups=
(
        {
                writer_hostgroup=0
                reader_hostgroup=1
                comment="Prod hostgroups"
       }
)
